In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bireun,ID,2022-01-07 17:22:08,5.2030,96.7009,77.31,89,89,4.29
1,1,Qaanaaq,GL,2022-01-07 17:22:09,77.4840,-69.3632,7.59,69,100,5.39
2,2,Lorengau,PG,2022-01-07 17:22:09,-2.0226,147.2712,81.36,75,100,10.02
3,3,Cabo San Lucas,MX,2022-01-07 17:18:33,22.8909,-109.9124,75.51,68,0,1.01
4,4,Hermanus,ZA,2022-01-07 17:22:09,-34.4187,19.2345,83.89,77,46,20.49

In [3]:
# Get the datatypes
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [18]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

In [12]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [20]:
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [23]:
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

In [24]:
# Add the heatmap layer.
fig.add_layer(heat_layer)

In [25]:
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [31]:
city_data_df.head(5)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bireun,ID,2022-01-07 17:22:08,5.2030,96.7009,77.31,89,89,4.29
1,1,Qaanaaq,GL,2022-01-07 17:22:09,77.4840,-69.3632,7.59,69,100,5.39
2,2,Lorengau,PG,2022-01-07 17:22:09,-2.0226,147.2712,81.36,75,100,10.02
3,3,Cabo San Lucas,MX,2022-01-07 17:18:33,22.8909,-109.9124,75.51,68,0,1.01
4,4,Hermanus,ZA,2022-01-07 17:22:09,-34.4187,19.2345,83.89,77,46,20.49

In [38]:
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) & (city_data_df["Max Temp"] <= max_temp)]
preferred_cities_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bireun,ID,2022-01-07 17:22:08,5.2030,96.7009,77.31,89,89,4.29
2,2,Lorengau,PG,2022-01-07 17:22:09,-2.0226,147.2712,81.36,75,100,10.02
3,3,Cabo San Lucas,MX,2022-01-07 17:18:33,22.8909,-109.9124,75.51,68,0,1.01
4,4,Hermanus,ZA,2022-01-07 17:22:09,-34.4187,19.2345,83.89,77,46,20.49
5,5,Port Keats,AU,2022-01-07 17:22:10,-14.2500,129.5500,83.05,79,46,9.78

In [46]:
preferred_cities_df_2 = preferred_cities_df.dropna()
preferred_cities_df_2.count()

City_ID       178
City          178
Country       178
Date          178
Lat           178
Lng           178
Max Temp      178
Humidity      178
Cloudiness    178
Wind Speed    178
dtype: int64